@keyframes opacityText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes beforeRules {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(0.9);
  }
}

@keyframes textRules {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
    transition-property: opacity, transform;
    transition-duration: 300ms, 300ms;
    transition-timing-function: ease, ease;
  }
}

@keyframes ankorRules {
  from {
    max-width: 0px;
    color: transparent;
  }

  to {
    max-width: 100%;
    color: #5f458c;
    animation-fill-mode: forwards;
  }
}

.rules__item::before {
  transform: scale(0);
  opacity: 1;
  animation-name: beforeRules;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0, 1.12, 0.58, 1.33);
  animation-fill-mode: forwards;
}

.rules__item p {
  opacity: 0;
  animation-name: textRules, opacityText;
  animation-duration: 500ms, 300ms;
  animation-delay: 0ms, 200ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.rules__link.btn::before {
  left: auto;
  right: 0;
  transform: translate(0%, -50%);
}

.rules__link.btn {
  opacity: 0;
  max-width: 0%;
  color: transparent;
  animation-name: ankorRules, opacityText;
  animation-duration: 1s, 300ms;
  animation-delay: 1800ms, 1500ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}


.rules__item:nth-of-type(1):before {
  animation-delay: 0ms;
}

.rules__item:nth-of-type(2):before {
  animation-delay: 300ms;
}

.rules__item:nth-of-type(3):before {
  animation-delay: 600ms;
}

.rules__item:nth-of-type(4):before {
  animation-delay: 900ms;
}

.rules__item:nth-of-type(1) p {
  animation-delay: 0ms;
}

.rules__item:nth-of-type(2) p {
  animation-delay: 300ms;
}

.rules__item:nth-of-type(3) p {
  animation-delay: 600ms;
}

.rules__item:nth-of-type(4) p {
  animation-delay: 900ms;
}
