.intro__title {
  overflow: hidden;
}

.text__word {
  display: inline-block;
  margin: 0px;
  overflow: hidden;

  span {
    transform: translate3d(0, 1.15em, 0);
    display: inline-block;
    margin-left: -1px;
  }
}

.active {
  .text__word {
    span {
      transform: translate3d(0, 0.15em, 0);
    }
  }
}
