@keyframes opacityText {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes beforeRules {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(0.9);
  }
}

@keyframes textRules {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    transition-property: opacity, transform;
    transition-duration: 300ms, 300ms;
    transition-timing-function: ease, ease;
  }
}

@keyframes anchorRules {
  0% {
    max-width: 0;
    color: transparent;
  }

  100% {
    max-width: 100%;
    color: $c-dark;
    animation-fill-mode: forwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInDisabled {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes bagAnimation {
  0% {
    transform: scale(0.1) translateY(200%);
  }

  70% {
    transform: scale(1) translateY(-4%);
  }

  90% {
    transform: scale(1) translateY(2%);
  }

  100% {
    transform: scale(1) translateY(0%);
  }
}

@keyframes flamingoAnimation {
  0% {
    transform: scale(0.1) translateY(100%);
  }

  45% {
    transform: scale(1) translateY(-5%);
  }

  60% {
    transform: scale(1) translateY(2%);
  }

  70% {
    transform: scale(1) translateY(-1%);
  }

  100% {
    transform: scale(1) translateY(1%);
  }

}

@keyframes flamingoAnimationInfinite {
  0% {
    transform: translate3d(0, 1%, 0);
  }

  50% {
    transform: translate3d(0, -2%, 0);
  }

  100% {
    transform: translate3d(0, 1%, 0);
  }
}

@keyframes leafAnimation {
  0% {
    transform: rotate(-10deg) translateY(-30%);
  }

  20% {
    transform: rotate(8deg) translateY(30%);
  }

  40% {
    transform: rotate(-6deg) translateY(-15%);
  }

  60% {
    transform: rotate(4deg) translateY(15%);
  }

  75% {
    transform: rotate(-2deg) translateY(-6%);
  }

  90% {
    transform: rotate(1deg) translateY(3%);
  }

  100% {
    transform: rotate(0deg) translateY(0%);
  }
}

@keyframes leafBlueLeftAnimation {
  0% {
    transform: rotate(45deg) translateY(-90px);
  }

  40% {
    transform: rotate(-20deg) translateY(40px);
  }

  60% {
    transform: rotate(10deg) translateY(-20px);
  }

  80% {
    transform: rotate(-5deg) translateY(10px);
  }

  90% {
    transform: rotate(-3deg) translateY(6px);
  }

  100% {
    transform: rotate(0deg) translateY(0px);
  }
}

@keyframes leafBlueRightAnimation {
  0% {
    transform: rotate(-20deg) translateX(-80px);
  }

  40% {
    transform: rotate(10deg) translateX(40px);
  }

  60% {
    transform: rotate(-5deg) translateY(-20px);
  }

  75% {
    transform: rotate(4deg) translateY(16px);
  }

  90% {
    transform: rotate(-2deg) translateY(-8px);
  }

  100% {
    transform: rotate(0deg) translateY(0);
  }
}

@keyframes inputFormAnimation {
  0% {
    max-width: 0%;
  }

  100% {
    max-width: 100%;
  }
}

@keyframes showFooterMobile {
  0% {
    max-height: 3.5rem;
    max-width: 3.5rem;
  }

  50% {
    max-height: 3.5rem;
    max-width: 100%;
  }

  100% {
    max-height: 18rem;
    max-width: 100%;
  }
}

@keyframes controlNext {
  0% {
    transform: translateX(6.28rem) rotate(180deg);
  }

  100% {
    transform: translateX(0%) rotate(0deg);
  }
}

@keyframes controlPrev {
  0% {
    transform: translateX(-6.28rem) rotate(-180deg);
  }

  100% {
    transform: translateX(0%) rotate(0deg);
  }
}


@keyframes journeys{
  0%{
    left: 268px;
  }
  100%{
    left: 0;
  }
}

@keyframes scaleSlogan {
  from {
    opacity: 0;
    transform: scale(1.2);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes translateSlogan {
  0% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(4.2rem);
  }

  85% {
    transform: translateY(3.6rem);
  }

  100% {
    transform: translateY(4.2rem);
  }
}